* {
    font-family: Helvetica;
}

body {
    padding: 0 px;
    margin: 0px;
    
}
header {
    display: flex;
    justify-content: space-between;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 15px;
}

.top-section {
    background-color: #1F2937;
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
   
}

.medium-section {
    display: flex;
    justify-content: center;
    gap: 30px;

    
    
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.top-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 50px;
}
  

.left-side {
    max-width: 600px;
}
 
.header-logo {
    color: #F9FaF8;
    font-size: 24px;
    font-weight: 1000;
}
.awesome {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FaF8;
}

.secondary {
    color: #E5E7EB;
    font-size: 18px;

}

button {
    background-color: #3882F6;
    width: 90px;
    height: 28px;
    border-radius: 5px;
}

.button-one {
    
    border: none;
   
    
}

.image-container {
    width: 440px;
    height: 250px;
    background-color: white;
    flex-shrink: 0;

       
}
.first-image {
    width: 100%;
    height: 100%;
    
}


.second-header {
    text-align: center;
}















a {
    color: #E5E7EB;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;